.course-info {
  margin-top: 20px;
  flex-direction: row;
  align-items: flex-start;
  .course-info-sidebar {
    width: 20%;
    flex-direction: column;
    & > div {
      border-radius: 15px;
      background-color: white;
      width: 100%;
      padding: 20px;
    }
  }
  .course-info-main {
    width: 50%;
    padding-left: 10px;
  }
}
.course-info-sidecard {
  text-align: left;
  margin: 10px 0;
  h4 {
    margin: 0 0 10px 0;
    font-weight: 600;
    font-size: 20px;
  }
  span.sidecard-desc {
    font-size: 14px;
    color: #868686;
  }
  & > div {
    margin: 5px 0;
  }
  .sidecard-row > img {
    width: 50%;
  }
  .sidecard-row {
    width: 100%;
    display: flex;
    & > div {
      width: 50%;
      position: relative;
    }
  }

  .ranking-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    padding: 20px;
    color: mediumpurple;
  }
  .ranking-desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #868686;
    font-weight: 400;
    & > strong {
      color: mediumpurple;
      font-size: 22px;
    }
  }
}
.course-info-main-card {
  width: 100%;
  padding: 30px 10px;
  border-radius: 15px;
  background-color: white;
  margin: 10px;
}
.course-teachers {
  display: flex;
  justify-content: flex-start;
  & > div {
    width: 50%;
  }
  .MuiAvatarGroup-root {
    justify-content: flex-end;
  }
}